
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pklz
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/

# Data files
*.tsv
*.csv
*.xlsx

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Maven / Java (if used together)
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*
